# Auto detect text files and perform LF normalization
* text=auto
*.fbx filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
*.unity filter=lfs diff=lfs merge=lfs -text
Unity.Netcode.Runtime.Player.csproj filter=lfs diff=lfs merge=lfs -text
Temp filter=lfs diff=lfs merge=lfs -text
Unity.Burst.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.HighDefinition.Runtime.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.HighDefinitionConfig.Editor.Tests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.SettingsProvider.Editor.csproj filter=lfs diff=lfs merge=lfs -text
ignore.conf filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Tools.MetricEvents.csproj filter=lfs diff=lfs merge=lfs -text
MBS.csproj filter=lfs diff=lfs merge=lfs -text
Unity.CollabProxy.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Cinemachine.Player.csproj filter=lfs diff=lfs merge=lfs -text
com.unity.cinemachine.editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Tools.Adapters.Ngo1.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Tools.Tests.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Networking.Transport.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Tools.Adapters.csproj filter=lfs diff=lfs merge=lfs -text
Unity.PlasticSCM.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Core.Editor.Shared.csproj filter=lfs diff=lfs merge=lfs -text
TerrainSlicer.Runtime.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Burst.CodeGen.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Netcode.Components.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.ProBuilder.AssetIdRemapUtility.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Toonshader.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.Core.Player.csproj filter=lfs diff=lfs merge=lfs -text
UserSettings filter=lfs diff=lfs merge=lfs -text
Unity.AI.Navigation.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Tools.Common.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Universal.2D.Runtime.csproj filter=lfs diff=lfs merge=lfs -text
Unity.TestTools.CodeCoverage.Editor.OpenCover.Mono.Reflection.csproj filter=lfs diff=lfs merge=lfs -text
UMotionSourceEditor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Tools.Adapters.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.FilmInternalUtilities.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Universal.Runtime.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Tutorials.Core.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Fusion.Unity.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Profiling.Core.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.State.Player.csproj filter=lfs diff=lfs merge=lfs -text
UnityEditor.TestRunner.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Playmode.Common.Runtime.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Rendering.LightTransport.Runtime.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Tools.NetStats.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Networking.Transport.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.HighDefinition.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.ShaderGraph.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.TestTools.CodeCoverage.Editor.OpenCover.Model.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.Core.csproj filter=lfs diff=lfs merge=lfs -text
MBS.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.InternalAPIEngineBridge.007.csproj filter=lfs diff=lfs merge=lfs -text
Unity.ProBuilder.Csg.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Core.Runtime.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Tools.NetStatsReporting.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Netcode.Editor.CodeGen.csproj filter=lfs diff=lfs merge=lfs -text
Unity.ProBuilder.AddOns.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Rendering.LightTransport.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Core.ShaderLibrary.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Tutorials.Core.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Tools.Initialization.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Tools.NetStatsMonitor.Configuration.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.Shared.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Digger.Core.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Tools.NetStats.CodeGen.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Collections.BurstCompatibilityGen.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Tools.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Tools.NetworkSolutionInterface.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualEffectGraph.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Playmode.VirtualProjects.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Tools.Common.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Tools.NetworkSolutionInterface.Player.csproj filter=lfs diff=lfs merge=lfs -text
TerrainSlicer.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Tools.NetStatsMonitor.Implementation.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.Flow.csproj filter=lfs diff=lfs merge=lfs -text
Assembly-CSharp-Editor-firstpass.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Collections.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.ProBuilder.KdTree.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Playmode.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Tools.Common.Tests.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Rider.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.Flow.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.FilmInternalUtilities.csproj filter=lfs diff=lfs merge=lfs -text
Unity.ProBuilder.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Tools.MetricTypes.csproj filter=lfs diff=lfs merge=lfs -text
Fusion.Unity.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Tools.MetricTestData.csproj filter=lfs diff=lfs merge=lfs -text
Cinemachine.csproj filter=lfs diff=lfs merge=lfs -text
Unity.ProBuilder.Poly2Tri.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipeline.Universal.ShaderLibrary.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.HighDefinition.Config.Runtime.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Universal.Shaders.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualStudio.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Mathematics.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Playmode.WorkflowUI.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.InternalAPIEditorBridge.022.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Tools.NetStatsMonitor.Implementation.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Mathematics.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Tutorials.Core.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.State.Editor.csproj filter=lfs diff=lfs merge=lfs -text
gitauto.bat filter=lfs diff=lfs merge=lfs -text
obj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Tools.NetworkProfiler.Runtime.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Universal.Config.Runtime.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualEffectGraph.Runtime.csproj filter=lfs diff=lfs merge=lfs -text
UnityEngine.TestRunner.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Burst.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Playmode.Common.Runtime.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Netcode.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.ProBuilder.KdTree.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj filter=lfs diff=lfs merge=lfs -text
Digger.Core.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Tools.NetStatsMonitor.Component.Player.csproj filter=lfs diff=lfs merge=lfs -text
ProjectSettings filter=lfs diff=lfs merge=lfs -text
Unity.Collections.DocCodeSamples.csproj filter=lfs diff=lfs merge=lfs -text
Logs filter=lfs diff=lfs merge=lfs -text
Unity.Burst.csproj filter=lfs diff=lfs merge=lfs -text
Assembly-CSharp-firstpass.csproj filter=lfs diff=lfs merge=lfs -text
Digger.Core.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Universal.Config.Runtime.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Universal.Runtime.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.State.csproj filter=lfs diff=lfs merge=lfs -text
Unity.EditorCoroutines.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Playmode.Common.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Tools.Adapters.Ngo1.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Tools.NetStats.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Tools.NetStatsMonitor.Configuration.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Tools.NetStatsMonitor.Tests.Interface.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Netcode.Editor.PackageChecker.csproj filter=lfs diff=lfs merge=lfs -text
Unity.ProBuilder.Csg.csproj filter=lfs diff=lfs merge=lfs -text
Fusion.Unity.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.InputSystem.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Core.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Tools.NetworkSolutionInterface.Tests.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Timeline.Player.csproj filter=lfs diff=lfs merge=lfs -text
TerrainSlicer.Runtime.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Mathematics.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Core.Runtime.Shared.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Playmode.Workflow.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Core.Runtime.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.ProBuilder.Poly2Tri.csproj filter=lfs diff=lfs merge=lfs -text
Unity.TextMeshPro.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Assembly-CSharp.Player.csproj filter=lfs diff=lfs merge=lfs -text
UMotionSourceApplication.csproj filter=lfs diff=lfs merge=lfs -text
Unity.TextMeshPro.csproj filter=lfs diff=lfs merge=lfs -text
Assembly-CSharp-Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.AI.Navigation.Editor.ConversionSystem.csproj filter=lfs diff=lfs merge=lfs -text
Unity.ProBuilder.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Timeline.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Toonshader.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Tools.MetricTypes.Tests.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.ProBuilder.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Timeline.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.Core.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Packages filter=lfs diff=lfs merge=lfs -text
Unity.TestTools.CodeCoverage.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.ProBuilder.Stl.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Profiling.Core.csproj filter=lfs diff=lfs merge=lfs -text
UnityEngine.UI.csproj filter=lfs diff=lfs merge=lfs -text
Unity.AI.Navigation.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Tools.NetworkProfiler.Runtime.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.ShaderGraph.Utilities.csproj filter=lfs diff=lfs merge=lfs -text
Unity.InputSystem.TestFramework.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.HighDefinition.Config.Runtime.Player.csproj filter=lfs diff=lfs merge=lfs -text
Assets filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Tools.NetStats.Tests.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualEffectGraph.Runtime.Player.csproj filter=lfs diff=lfs merge=lfs -text
Meryel.CodeAssist.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipeline.Universal.ShaderLibrary.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VSCode.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Tools.NetStatsMonitor.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.Flow.Editor.csproj filter=lfs diff=lfs merge=lfs -text
UnityEngine.UI.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.InputSystem.ForUI.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Settings.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Networking.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Universal.Shaders.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Tools.MetricTypes.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.HighDefinition.Runtime.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Universal.2D.Runtime.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Universal.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.AI.Navigation.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Core.Runtime.Shared.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Netcode.Runtime.csproj filter=lfs diff=lfs merge=lfs -text
Unity.ProBuilder.Stl.csproj filter=lfs diff=lfs merge=lfs -text
Fabgrid.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Tools.NetworkProfiler.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Assembly-CSharp-firstpass.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Core.ShaderLibrary.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Tools.Initialization.csproj filter=lfs diff=lfs merge=lfs -text
Unity.InputSystem.TestFramework.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Playmode.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Tools.NetworkProfiler.Tests.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Netcode.Components.csproj filter=lfs diff=lfs merge=lfs -text
Unity.TextMeshPro.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Toonshader.Player.csproj filter=lfs diff=lfs merge=lfs -text
Fabgrid.Player.csproj filter=lfs diff=lfs merge=lfs -text
UMotionData filter=lfs diff=lfs merge=lfs -text
UnityEngine.TestRunner.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Tools.MetricTestData.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Multiplayer.Tools.NetStatsMonitor.Tests.Implementation.csproj filter=lfs diff=lfs merge=lfs -text
PPv2URPConverters.csproj filter=lfs diff=lfs merge=lfs -text
